<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<!-- viewport meta to reset iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ site.title }} - {{ page.title }}</title>
<meta content="{{ site.keywords }}" name="keywords">
<meta content="{{ page.description }}" name="description">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" media="screen" href="/assets/css/master.css"/>

</head>
<body>
<section>
  <header>
    <div class="container">
      <h1><span>andre</span> costa</h1>
      <nav id="menu">
        <ul>
          <li><a href="/" alt="home">home</a></li>
          <li><a href="/about/" alt="sobre">sobre</a></li>
          <li><a href="/blog/" alt="blog">blog</a></li>
          <li class="social"><a href="{{ site.author.github }}" alt="github" target="_blanck">github</a></li>
          <li class="social"><a href="/rss.xml" alt="rss" target="_blanck">rss</a></li>
        </ul>
      </nav>
    </div>  
  </header>
</section>


<section id="content">
  <div class="container">
  
    {{ content }}

  </div>
</section>  


<section>
  <footer><p>{{ site.author.name }} 2012 -Licensed under a MIT.</footer>
</section>

<!-- Analitics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37429781-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
